name: Playwright Tests
on:
  workflow_dispatch:
    inputs:
      browser:
        description: "Select the desired browser to execute the tests"
        required: true
        default: "chromium"
        type: choice
        options:
          - "chromium"
          - "firefox"
          - "webkit"

jobs:
  ui-tests:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      BASE_URL: ${{ vars.BASE_URL }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx playwright test --project=${{ github.event.inputs.browser }}
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: execution-report
          path: allure-results/
          retention-days: 30
